{% extends 'base.html' %}
{% block Content %}

{% load cart %}
<!--Body-->
<div class="container-fluid mt-3">
    <div id='categories' class="mx-auto">
      <div class="row mx-auto">
        {% for category in categories %}
        <div class="card mx-auto mb-3 mt-3 ml-3 mr-3 border rounded" style="width: 18rem;">
          <img class="card-img-top" src="{{category.image.url}}" style="height: 18rem;" alt="Card image cap">
            <div class="card-body text-center text-nowrap" style="height: 1rem;">{{category.name}}
            </div>
          <div class="card-footer text-center" style="height: 4rem;">
            <button type="button" class="btn btn-primary bg-light" ><a href="/?category = {{category.id}}">View in Store</a></button>
          </div>
        </div>
        
        {% endfor %}

        
      </div>
    </div>
  </div>

</div>
<div class="container-fluid mt-3">
  <div id='products' class="mx-auto">
    <div class="row mx-auto">
      {% for product in products %}
      <div class="card mx-auto mb-3 mt-3 ml-3 mr-3 border rounded" style="width: 18rem;" >
        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">

          <div class="card-body text-center text-nowrap pt-2 pb-2 " style="height: 2rem;">Rs. {{product.price}}/-</div>
          <div class="card-body text-center text-nowrap pt-2 pb-2 " style="height: 2rem;">{{product.description}}</div>

        
        
        

        <div class="card-footer p-0 text-center nu-gutters" style="height: 4rem;">

          {% if product|is_in_cart:request.session.cart %}
          <div class="card-footer row text-center text-nowrap mt-0 mb-0 mr-0 ml-0 pt-0 pb-0 pr-0 pl-0 " style="height: 4rem;">
            <input type="submit" value="-" class="col-2 m-2 btn btn-block btn-secondary">
            <div class="text-center col mt-3 mb-">{{product|cart_quantity:request.session.cart}} in Cart</div>
            <input type="submit" value="+" class="col-2 m-2 btn btn-block btn-secondary">
              
          </div>

          {% else %}
          <form action="{{category.id}}" method="POST">
            {% csrf_token %}
            <input hidden type="text" name ='product' value = '{{product.id}}'>
            <input type="submit" class="btn btn-primary bg-dark" value = "Add to Cart">
          </form>

          {% endif %}

          

          


        <div>
          


        </div>
        </div>
      </div>

      {% endfor %}
      
    </div>
  </div>
</div>
{% endblock %}


