{% extends 'base.html' %}
{% block Content %}

<div class="container">
    <div class = "p-4 m-4">
        <div class="col-lg-5 mx-auto border  rounded pt-4">
            <form action="/signup" method="post">{% csrf_token %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link active text-center" href="#"><h4>Create an Account</h4><span class="sr-only">(current)</span></a>
                      </div>
                    </div>
                  </nav>
                <!--First Name-->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname" id="" class="form-control form-control-sm" placeholder="Abc">
                  </div>

                <!--Second Name-->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" id="" class="form-control form-control-sm" placeholder="Xyz">
                  </div>

                <!--Phone Number-->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control form-control-sm" placeholder="(Country_Code)9876543210">
                  </div>


                <!--Email-->
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" name="email" id="email" class="form-control form-control-sm" placeholder="example@gmail.com">
                </div>


                <!--Password-->
                <div class="form-group pb-4">
                    <label for="">Password</label>
                    <input type="password" name="password" id="email" class="form-control form-control-sm" placeholder="**************">
                  </div>

                <!--Submit Button-->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Create my Account</button>
                  </div>

                
               
              </form>
        </div>
    </div>
</div>

{% endblock %}